.video-player {
  width: 100%;
  height: 100%;
  position: relative;
  background: #000;

  &__loading {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__control-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(102, 102, 102, 0) 100%);

    .timeline-container {
      padding: 0 1rem;
      .timeline {
        padding: 5px 0;
        .MuiSlider-rail {
          opacity: 0.6;
          color: #f9f9f9;
        }
      }
    }

    .video-controls {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0.55rem;

      &__box {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 16px;
        padding-bottom: 10px;

        .video-btn {
          color: rgba(255, 255, 255, 0.7);
          font-size: 24px;
          line-height: 0;
          cursor: pointer;
          position: relative;

          .volume-slider {
            position: absolute;
            bottom: 44px;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 8px;
            background: #232429;
            box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
            padding: 15px 10px;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;

            .volume-value {
              font-size: 18px;
              line-height: normal;
              text-align: center;
              margin-bottom: 10px;
            }

            .ant-slider {
              height: 100px;
            }
            .ant-slider-rail {
              background-color: #35363c;
            }
            .ant-slider-track {
              background-color: #bfbaff;
              border-radius: 10px;
            }
            .ant-slider-handle {
              &:hover::after {
                transform: scale(1.2);
                inset-block-start: 0;
              }

              &::after {
                height: 5px;
                width: 16px;
                background-color: #bfbaff;
                box-shadow: none;
                border-radius: 5px;
                outline: none;
                inset-inline-start: -3px;
                inset-block-start: 1px;
                transition: transform 0.3s ease;
              }
            }
          }
          .volume-slider.show {
            opacity: 1;
          }
        }

        .video-btn.play {
          font-size: 28px;
        }
      }

      .video-time {
        flex: 1;
        color: rgba(255, 255, 255, 0.7);
        font-size: 14px;
        letter-spacing: 1px;
        span {
          padding: 0 3px;
        }
      }
    }
  }
}
