.chat-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  @keyframes colorChange {
    0%,
    40% {
      --pointerColor: #f41d1d;
    }
    60%,
    100% {
      --pointerColor: transparent;
    }
  }

  .msg-content {
    max-width: 78%;
    width: fit-content;
    color: var(--text-color-0);
    font-size: 16px;
    line-height: 24px;
    word-break: break-all;
    padding: 12px;
    border-radius: 12px 0px 12px 12px;
    background-color: transparent;

    img {
      width: 260px;
      height: 140px;
      cursor: pointer;
    }
  }
}

.chat-item.mine {
  flex-direction: row-reverse;
  .msg-content {
    background-color: var(--grey-color-0);
  }
}
